.headline{
  font-size: 2.5em;
  font-weight: 700px;
  text-align: center;
  font-family: 'Noto Serif', sans-serif;
}

.byline{
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Noto Serif', sans-serif;
  text-align: center;
  color: #A52705;
}

.chapter{
    font-size: 20px;
    font-family: 'Noto Serif', sans-serif;
    text-align: left;
    text-decoration: underline;
    font-weight: 300;
    text-align: center;
    color: #A52705;
  }


p{
  font-family: 'sans-serif', serif;
  line-height: 180%;
  font-size: 18px;
}

.first-letter{
  float: left;
  font-size: 150px;
  line-height: 1;
  font-weight: bold;
  color: #A52705;
}

.beginning{
  text-align: center;
}

.specialp{
  color: #A52705;
  font-weight: bolder;
  text-align: center;
}

.caption{
font-family: 'Noto Serif', sans-serif;
font-size: 10px;
text-align: center;
}

.footer{
font-family: 'Noto Serif', sans-serif;
font-size: 10px;
text-align: center;
border-top: 1px solid;
padding-top: 10px;

}



.picture2{
  width: 350px;
  margin: 0 auto;
}

.picture3{
  width: 600px
}

.factors{
padding-left: 100px;
margin-right: 100px;
text-align: center;
}

.se{
text-align: left;
padding-left: 500px;
}


/* Tophat */

.nav-logo{
  color:#fff;
  margin: 0 auto;
  font-weight: 700px;
  text-transform: uppercase;
  font-family: 'Noto Serif', serif;

}


/* Splash Are */



.picture1{
width:900px;
    margin: 0 auto;
    padding-left: 190px;
  align: center;
}

.hero-image{
  width: 100%
}

.overlay{
  position: absolute;
  top: 20%;
  width: 100%;
  background: #000;
  opacity: .7;
}

.hero-head{
  font-family:'Noto Serif', serif;
  font-size: 5em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  padding-bottom: 10px;
}

.hero-sub{
font-family: 'Noto Serif', serif;
font-size:20px;
color: #fff;
text-align: center;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }


@media(max-width:650px) {
  p{
    padding-left: 20px;
    padding-right: 10px;
  }

  .hero-container{
    position: relative;
    text-align: center;
    color: white;
    width:100%;


  }

.chapter-head{
  font-size: 1.25em;
}


.inforgraphic{
margin: 0 auto;


}
.hed{
  font-size: 2em;
}

.hero-head{
font-size: 1.5em;
}

.picture1{
width:100%;
margin: 0 auto;
padding-right: 200px;

}

.picture2{
  width:100%;
padding-right: 200px;
  margin: 0 auto;
}
}

/* Quote */

.quote{
  font-family: 'sans- serif', serif;
  font-size: 2.2em;
  font-weight: 600px;
  text-align: right;
  padding: 15px 0 15px 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #A52705;
}

.quote-attribution{
  font-size: .5em;
  font-family: 'sans-serif',serif;
  font-weight: 200px;
  text-align:right;
color: black;

}
